.title {
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    &_left {
        color: white;
        text-align: left;
        font-size: 36px;
    }
}